.container {
  width: 100%;
  min-height: 100vh;
  background-color: #051321;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: nowrap !important;
}
.container .contact_con{
  color: #000;
  background-color: #A0DAA9;
  font-size: 1.8rem;
  padding: 20px 0;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 50px;
}
.container .contact_con div{
  width: 70%;
  margin: auto;
}
.container .contact_con a, .container .contact_con span{
  text-decoration: none;
  color: #fff;
  background-color: #66f;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 20px 0;
  display: inline-block;
  cursor: auto;
}
.container .contact_con a:hover:not([href="javascript:"]), .container .contact_con span{
  background-color: #BC243C;
  cursor: pointer;
}
.input-container *{
  direction: ltr;
}
h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}
@media (max-width: 560px) {
  .container .contact_con div{
    width: 85%;
  }
  .container .contact_con a{
    font-size: 14px;
  }
  h1{
    font-size: 30px;
  }
  h4{
    font-size: 16px;
  }
}

/* ///// inputs /////*/

.input-container *{
  font-size: 1.8rem;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    min-width: 100%;
    min-height: 15em;
    max-width: 100%;
    max-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:20%;
        margin-right: 20px;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
}

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}
#success-msg{
  width: fit-content;
  padding: 10px 40px;
  border-radius: 3px 3px 3px 3px;
  color: #270;
  font-size: 1.8rem;
  text-align: center;
  background-color: #DFF2BF;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 9999;
}
